/* Archivo CSS específico para la página 1 */
nav {
    font-family: 'Georgia', serif;
    font-weight: bold;
  }
  

.nav-border {
    border: 3px solid rgb(13, 101, 138);  /* Define un borde de 2 píxeles de grosor y color azul */
    border-radius: 5px;      /* Opcional: Añade un borde redondeado */
    padding: 10px;           /* Opcional: Añade un poco de relleno interno */
}

.navbar {
    background-color: #fff;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    font-weight: 500;
    color: #007599;
    font-size: 24px;
    transition: 0.3s color;
}

.login-button {
    background-color: #007599;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #007599;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;  
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #007599;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

.hero-section {
    background: url(imagenes/logoESCOMTB.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.hero-section::before {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section .container {
    height: 100vh;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-section h1 {
    font-size: 1.5em;
}

.hero-section h2 {
    font-size: 1.2em;
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: 18px;
    }
    
    .login-button {
        font-size: 12px;
        padding: 6px 16px;
    }
    
    .navbar {
        padding: 0.5rem;
    }
}

@media (max-width: 576px) {
    .navbar-brand {
        display: none;
    }
    
    .hero-section .container {
        display: none;
    }
}